<div class="tweet-wrapper row">
	<div>
		<img
			class="small-avatar"
			src={{@data.avatar}}
		/>
	</div>
	<div class="column tweet-content">
		<div class="row">
			<p class="user-name">
				{{if @data.user_name @data.user_name 'FancyPupper'}}
			</p>
			<span class="timestamp">{{@data.created_at}}</span>
		</div>
		<div class="tweet-info">{{@data.description}}</div>
	</div>
</div>
